*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-top: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.outer-div {
  height: 400px;
  width: 800px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-div {
  height: 300px;
  width: 600px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  border: 1px solid orange;
  padding: 10px;
}
