*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 100px;
}

.container .box {
  width: 200px;
  height: 200px;
  margin-bottom: 50px;
  background-color: aquamarine;
  text-align: center;
  padding: 10px;
  font-size: 2rem;
  border: solid black;
  border-width: 2px 10px;
}

body:hover .box {
  /* transform: scale(1.2); */
  /* transform: scale(0.4, 1.5); 0.4 gets applied in X-axis(horizontally) & 1.5 gets applied in Y-axis(vertically)
also checkout scaleX(), scaleY()
  */

  transform: rotate(45deg); /* will rotate clockwise by 45 deg */
  transform: rotate(-45deg); /* will rotate anticlockwise by 45 deg*/
  transform: rotate(0.5turn); /* 1 turn = 360deg and rest behaviour is same*/
  /* checkout: rotateX(), rotateY() */

  transform: skew(30deg);
  transform: skew(30deg, 45deg); /* skew in both (X, Y) direction */
  /* checkout: skewX(), skewY() */

  transform: translate(100%);
  transform: translate(400px);
  transform: translate(-50%, -200px);
  /* checkout: translateX(), translateY() */
  /* 
  For translate: 

  x -> -ve -> left
  x -> +ve -> right
  y -> +ve -> down
  y -> -ve -> up

  */

  /* NOTE: we can combine all the transform attributes */
  /* NOTE: try to find and understand these two transforms */
  transform: rotate(90deg) translate(200px);
  transform: translate(200px) rotate(90deg);
}
