*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  padding: 100px;
}

.container .box {
  width: 40px;
  height: 40px;
  margin-bottom: 50px;
  background-color: aquamarine;
}

body:hover .box {
  width: 500px;
  background-color: blanchedalmond;
}

.transition {
  /* transition-property: width;
  transition-duration: 2s;
  transition-delay: 1s;
  transition-timing-function: linear; */
  transition: width 2s 1s ease-in, background-color 1s 2s ease-in-out;
}

.linear {
  /* transition-timing-function: linear; */
}
.ease-in {
  transition-timing-function: cubic-bezier(1, 0.03, 0, 1.63);
}
.ease-out {
  transition-timing-function: ease-out;
}
.ease-in-out {
  transition-timing-function: ease-in-out;
}
.step-end {
  transition-timing-function: step-end;
}
.step-start {
  transition-timing-function: step-start;
}
.steps {
  transition-timing-function: steps(5);
}
